apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "mychart.workmodelParamsCM" . }}
  labels:
    {{- include "mychart.labels" . | nindent 4 }}
    benchmark: params
data:
  WorkmodelParameters.json: |
    {
      "WorkModelParameters":{
          "ServiceGraph": {
            "filePath":"/dataset/service_graphs.json"
          },
          "ServiceRessources": {
            "filePath":"/dataset/min_max_normalized_service_metrics.csv",
            "csvDelimiter": "\t"
          },
          "ClusterRessources": {
            "filePath":"/resources/cluster_ressources.json"
          },
          "Output": {
            "directory":"/podshared",
            "fileName":"workmodel.json"
          },
          "InternalService": {
            {{- with .Values.benchmark.service_cell.loader }}
            "factor_cpu": {{ .factor_cpu }},
            "thread_pool_size": {{ .thread_pool_size }},
            "trials": {{ .trials }},
            "factor_memory": {{ .factor_memory }},
            "memory_io": {{ .memory_io }},
            "disk_write_block_count": {{ .disk_write_block_count }},
            "disk_write_block_size": {{ .disk_write_block_size }},
            "tmp_file_name": "mubtestfile.txt",
            "mean_response_size": {{ .mean_response_size }}
            {{- end }}
          },
          "Gunicorn": {
            {{- with .Values.benchmark.service_cell.gunicorn }}
            "request_method": "rest",
            "workers": {{ .workers }},
            "threads": {{ .threads }}
            {{- end }}
          },
          "Kubernetes": {
            "replicas": {{ .Values.benchmark.service_cell.template.replicas }},
            "base_cpu": {{ .Values.resources.service_cell.base_cpu }},
            "base_memory": {{ .Values.resources.service_cell.base_memory }}
          }
      }
    }